body{
  display: flex;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
}
.wrapper input[type=radio] {
  display: none;

}
.wrapper{
  background: #25282A;
  padding: 100px;
}
.buttons{
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  /* z-index: 2; */
}
.buttons label{
  cursor: pointer;
  display: block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #71ABFF;
  position: relative;

}

.buttons label:before{
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: -5px;
  top: -5px;
  /* background: #fff; */
  /* z-index: 1; */

}

#switch0:checked ~ .helper .buttons .btn-0 label,
#switch1:checked ~ .helper .buttons .btn-1 label,
#switch2:checked ~ .helper .buttons .btn-2 label,
#switch3:checked ~ .helper .buttons .btn-3 label {
  width: 9px;
  height: 9px;
   background: #25282A;
   border: 1px solid #71ABFF;;
}
/* .btn{
  cursor: pointer;
  padding: 5px;
} */
.overflow {
  width: 100%;
  overflow: hidden;
}
.slides .image {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* color: #fff; */
}
.slide img{
  width: 600px;
  height: 500px;
}
.text{
  width: 25%;
  float:left;
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100%;
  color: #fff;
  font-size: 24px;
  /* display: flex;
  justify-content: center;
  align-items: start; */
}
.slides {
  padding: 10px;
  /* border: 3px solid #ccc; */
  /* background: #fff; */
  position: relative;
  z-index: 1;
}
.content {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  /* height: 500px; */
}
.content__images {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 500px;
}
.content__text {
  /* transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); */
  /* width: 100%; */
  /* line-height: 0; */
  /* height: 500px; */
}

.helper{
  display: flex;
  justify-content: space-between;
  
}

#switch0:checked ~ .slides .content {
  margin-left: 0;
}
#switch1:checked ~ .slides .content {
  margin-left: -100%;
}
#switch2:checked ~ .slides .content {
  margin-left: -200%;
}
#switch3:checked ~ .slides .content{
  margin-left: -300%;
}

#switch0:checked ~ .helper .slides .content {
  margin-left: 0;
}
#switch1:checked ~ .helper .slides .content {
  margin-left: -100%;
}
#switch2:checked ~ .helper .slides .content {
  margin-left: -200%;
}
#switch3:checked ~ .helper .slides .content{
  margin-left: -300%;
}