



/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
.wrapper input[type=radio] {
  display: none;
}

.buttons label .btn{
  box-sizing: content-box;
  cursor: pointer;
  display: block;
  width: 0.82vw;
  height: 0.82vw;
  border-radius: 100%;
  background: #71ABFF;
  position: relative;
  /* border: 1px solid #25282A; */
}

.buttons label:hover .btn{
  background: #fff;
}

.overflow {
  width: 100%;
  overflow: hidden;
  /* display: flex; */
  padding: auto 0;
}

.slides .image {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.slides {
  /* padding: 10px; */
  position: relative;
  z-index: 1;
}
.content {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  /* line-height: 0; */
}

#switch0:checked ~ .slides .content {
  margin-left: 0;
}
#switch1:checked ~ .slides .content {
  margin-left: -100%;
}
#switch2:checked ~ .slides .content {
  margin-left: -200%;
}
#switch3:checked ~ .slides .content{
  margin-left: -300%;
}

#switch0:checked ~ .helper .slides .content {
  margin-left: 0;
}
#switch1:checked ~ .helper .slides .content {
  margin-left: -100%;
}
#switch2:checked ~ .helper .slides .content {
  margin-left: -200%;
}
#switch3:checked ~ .helper .slides .content{
  margin-left: -300%;
}
#switch0:checked ~ .helper .buttons  label .btn-0,
#switch1:checked ~ .helper .buttons  label .btn-1,
#switch2:checked ~ .helper .buttons  label .btn-2 ,
#switch3:checked ~ .helper .buttons  label .btn-3  {
  box-sizing: content-box;
  width: 0.625vw;
  height: 0.625vw;
  background: #25282A;
  border: 0.078vw solid #71ABFF;
}
#switch0:checked ~ .helper .buttons  label:hover .btn-0,
#switch1:checked ~ .helper .buttons  label:hover .btn-1,
#switch2:checked ~ .helper .buttons  label:hover .btn-2,
#switch3:checked ~ .helper .buttons  label:hover .btn-3{
   border: 0.078vw solid #fff;;
}
p{

  margin: 0;
}
label{
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ------------------------------------------------------------------ */




@media (min-width: 786px) {
  label{
    cursor: pointer;
    height: 3vw;
    width: 3vw;
  }
  body{
    display: flex;
    justify-content: center;
    width: 30vw;
    margin: 0 auto;
  }
  .wrapper{
    background: #25282A;
    padding: 0vw 0 7vw 0;
    border-radius: 0.4vw;
  }

  .slide img{
    margin: 3vw;
    width: 30vw;
    height: 25vw;
    border-radius: 1.17vw;
  }

  .content__images {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    /* height: 30vw; */
    
  }
  .helper{
    display: flex;
    justify-content: space-between;
    
  }
  .buttons{
    width: 28vw;
    display: flex;
    justify-content: space-between;
    padding: 0 3vw 0 0;
    align-items: center;
  }
  .text{
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    color: #fff;
    font-size: 2vw;
  }
}
@media (min-width: 320px) and (max-width: 786px) {
  body{
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 0 auto;
  }
  .wrapper{
    background: #25282A;
    padding: 3.12vw;
    border-radius: 1.56vw;
  }

  .slide img{
    width: 70vw;
    height: 40vw;
    border-radius: 5vw;
  }

  .content__images {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;  
    height: 40vw;
  }
  .helper{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .buttons{
    width: 45vw;
    display: flex;
    justify-content: space-between;
    padding: 3.2vw 3.2vw 0 3.2vw;
    align-items: center;
    justify-self: center;
    align-self: center;
  }
  .text{
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    color: #fff;
    font-size: 10vw;
  }
  .buttons label .btn{
    box-sizing: content-box;
    cursor: pointer;
    display: block;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    background: #71ABFF;
    position: relative;
    /* border: 1px solid #25282A; */
  }
  label{
    cursor: pointer;
    height: 10vw;
    width: 10vw;
  }
#switch0:checked ~ .helper .buttons  label .btn-0,
#switch1:checked ~ .helper .buttons  label .btn-1,
#switch2:checked ~ .helper .buttons  label .btn-2 ,
#switch3:checked ~ .helper .buttons  label .btn-3 {
  box-sizing: content-box;
  width: 1.41vw;
  height: 1.41vw;
  background: #25282A;
  border: .3vw solid #71ABFF;
}
#switch0:checked ~ .helper .buttons  label:hover .btn-0,
#switch1:checked ~ .helper .buttons  label:hover .btn-1,
#switch2:checked ~ .helper .buttons  label:hover .btn-2,
#switch3:checked ~ .helper .buttons  label:hover .btn-3 {
   border: .3vw solid #fff;;
}
}

